*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Segoe UI;
}

body{
  background:#111;
  color:white;
}

header{
  padding:15px;
  text-align:center;
  background:#1c1c1c;
  position: fixed;
  top:0;
  left:0;
  right:0;
  z-index:1000;
}

.container{
  display:flex;
  gap:20px;
  padding:20px;
}

/* SIDEBAR */

.sidebar{
  width:100%;
  height: 20px;
  background:#1e1e1e;
  padding:15px;
  border-radius:10px;
  margin-top: 50px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 999;
  ;
}

.sidebar ul{
  list-style:none;
  margin-top:10px;
}

.sidebar li{
  padding:8px;
  cursor:pointer;
  border-radius:6px;
  margin-bottom:5px;
  transition:0.2s;
  display: inline-block;
  padding-right: 40px;
  padding-left: 40px;
  
}

.sidebar li:hover{
  background:cyan;
  color:black;
}

/* PRODUCTS */

.products{
  flex:1;
  display:grid;
  grid-template-columns:repeat(auto-fill,minmax(220px,1fr));
  gap:20px;
}

.product{
  background:#1f1f1f;
  padding:10px;
  border-radius:10px;
  text-align:center;
  transition:0.3s;
  margin-top: 100px;
}

.product:hover{
  transform:translateY(-5px);
}

.product img{
  width:100%;
  height:150px;
  object-fit:cover;
  border-radius:8px;
}

.product button{
  margin-top:8px;
  padding:5px 10px;
  background:cyan;
  border:none;
  cursor:pointer;
  border-radius:5px;
}

/* CART */

.cart{
  width:250px;
  background:rgba(255,255,255,0.08);
  backdrop-filter:blur(10px);
  padding:15px;
  border-radius:10px;
}

.cart ul{
  list-style:none;
  max-height:300px;
  overflow-y:auto;
}

.cart li{
  display:flex;
  justify-content:space-between;
  margin-bottom:8px;
  background:#222;
  padding:5px;
  border-radius:6px;
}

.total{
  margin-top:10px;
  font-weight:bold;
  text-align:right;
}
